html, body {
    height: 100%;
    padding: 0;
    margin: 0;

    color: $text-color-theme;

    font-size: 18px;
    font-weight: 400;
}
a {
    color: #666666;
    text-decoration: none !important;
    -webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
*:focus,
*.focus {
    outline: 0;
}

.no-padding-left {
    padding-left: 0 !important;
}
.no-padding-right {
    padding-right: 0 !important;
}
.no-padding-lateral {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    cursor: default;
}
h1 {
    font-size: 40px;
    font-weight: 300;
}
.section-title {
    display: inline-block;
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 10px;
    text-transform: uppercase;
    cursor: default;

    span {
        color: $red-avanti;
    }
}
.subtitle-page {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}


.btn.focus,
.btn:focus {
    outline: 0px !important;
}

.btn,
input,
select,
textarea {
    height: 45px;
    background: #ffffff !important;
    border: 1px solid #f7f7f7 !important;
}
.form-control {
    @include box-shadow(none !important);

    &:focus {
        @include box-shadow(none !important);
    }
}


/* Banner Home */
.banner {
    position: relative;
    width: 100%;
    min-height: 100%;
    padding-top: 138px;
    padding-bottom: 100px;
    margin-top: -138px;
    background: #f2f2f2;

    .slider-banner {
        width: 100%;
        min-height: 100%;
        overflow: hidden;
    }

    .clients-carousel {
        position: absolute;;
        width: 100%;
        height: 100px;
        bottom: 0;
        background: #eeeeee;
        display: none;

        &.slick-initialized {
            display: block;
        }

        .item {
            text-align: center;
            line-height: 100px;

            img {
                display: inline-block !important;
                width: auto !important;
                padding: 0 25px;
            }
        }
    }


    /* Custom bullets slider
    #rev_slider_1_1 .uranus .tp-bullet {
        margin-top: 13px !important;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);

        &.selected,
        &:hover {
            box-shadow: 0 0 0 2px #f2f2f2 !important;
        }
    }
    #rev_slider_1_1 .uranus .tp-bullet-inner {
        background-color: #f2f2f2 !important;

        &:hover {
            background-color: #f2f2f2 !important;
        }
    }

    #rev_slider_1_1 .uranus .tp-bullet.selected .tp-bullet-inner {
        background-color: #e51b23 !important;
        transform: scale(0.6);
        -webkit-transform: scale(0.6);
    }
    #rev_slider_1_1 .uranus .tp-bullet:hover .tp-bullet-inner {
        transform: scale(0.6);
        -webkit-transform: scale(0.6);
    } */
}


/* Forms */
form {
    .form-control {
        height: 25px !important;
        color: #ffffff;
        font-family: $font-family-sans-serif;
        font-size: 11px;
        font-weight: 400;
        text-transform: uppercase;
        border: 0;

        -moz-border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        -ms-border-radius: 0 !important;
        border-radius: 0 !important;

        @include placeholder {
            color: #999999;
            font-family: $font-family-sans-serif;
            font-size: 11px;
            font-weight: 400;
            text-transform: uppercase;
        }
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="url"] {
        line-height: 25px;
    }

    &*:focus {
        outline: 0 !important;
    }

    span.wpcf7-list-item {
        display: inline-block;
        width: 40%;
        margin-bottom: 10px;

        label span {
            margin-left: 5px;
        }
    }

    input[type="submit"] {
        margin-top: 30px;
    }
}


/* Buttons */
button {
    margin: 0 !important;
    border: 2px solid #ffffff;

    -webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.btn-cta {
    height: 35px;
    margin: 0 !important;
    padding: 0 15px;
    background: #f8bfcd;
    color: $red-avanti;
    font-size: 9px;
    font-weight: 700;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #ffffff;

    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    -ms-border-radius: 17px;
    border-radius: 17px;



    &:hover {
        background: #ffffff;
    }

    &.active {
        background: #ffffff;
    }
}


/* Main */
main#main {
    min-height: 400px;

    p {
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 20px;
    }
}

.highlight-text {
    margin-top: 60px;
    font-size: 27px;
    font-weight: 300;

    .separator-bar {
        margin-top: 40px;
    }
}

.separator-bar {
    width: 160px;
    height: 5px;
    margin-bottom: 40px;
    background: #37c1f8;
}


.spacing-content {
    padding-top: 60px;
    padding-bottom: 60px;
}


/* Modals */
.modal-content {
    color: $text-color-theme;
}

@media (max-width: $screen-xs-max) {
    .section-title {
        font-size: 13px;
        letter-spacing: 5px;
    }
}

.title-not-found {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    margin-top: 150px;

    @media (max-width: $screen-xs-max) {
        font-size: 30px;
        margin-top: 50px;
    }
}