/*
 * 	Default theme - Owl Carousel CSS File
 */


.owl-carousel .owl-stage-outer {
    padding-left: 20px !important;
}

.owl-theme .owl-nav {
    margin-top: 10px;
    -webkit-tap-highlight-color: transparent;

    .owl-prev {
        left: 10px;
        height: sprite-sprite-height(arrow-prev);
        width: sprite-sprite-width(arrow-prev);
        @include sprite-sprite(arrow-prev);

        &:hover {
            left: 0;
        }
    }
    .owl-next {
        right: 10px;
        height: sprite-sprite-height(arrow-next);
        width: sprite-sprite-width(arrow-next);
        @include sprite-sprite(arrow-next);

        &:hover {
            right: 0;
        }
    }
    
}
.owl-theme .owl-nav [class*='owl-'] {
    top: 45%;
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    overflow: hidden;
    text-indent: -9999px;

    -webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px;
}
.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: transparent;
    display: block;
    border: 1px solid #c2c2c2;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #fba700;
    border-color: #fba700;
}
