
/* Variables */
$red-avanti:            #e20039 !default;
$text-color-theme:      #111111 !default;
$black-bg:              #1f2d39 !default;

@import "compass/css3";
@import "sprite";
@import "fonts";

@import "bootstrap/bootstrap-compass";
@import "bootstrap/bootstrap-mincer";
@import "bootstrap/bootstrap-sprockets";
@import "bootstrap/bootstrap";

@import "mixin";
@import "slick";

@import "general";

@import "grupo_avanti";
@import "header";

@import "know_avanti";
@import "quote";
@import "form";

@import "home";
@import "about";
@import "clients";
@import "cases";
@import "case";
@import "case--ecommerce-corporate";
@import "case--mobile";
@import "case--marketing";
@import "case--responsive";
@import "contact";

@import "iframes";

@import "footer";
